.flows.json.backup
[
    {
        "id": "ea94d0040deba697",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe33ef3e5186732",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d8abb850aa9b804a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "82843b1978ec20ba",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead (Einthoven Lead)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d235c8efbde6da89",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead (Limb Lead)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e8eb0c865ee8cda",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead(Precordial Lead)",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39e82ca114928e6d",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "82843b1978ec20ba",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eedaf900d70e201a",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "82843b1978ec20ba",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1279401eee4b7967",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "d235c8efbde6da89",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79d9b4d9740b9cbf",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "d235c8efbde6da89",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7af99aa21d915cd",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8e8eb0c865ee8cda",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8976e637c1f2b876",
        "type": "ui_group",
        "name": "Einthoven Lead",
        "tab": "82843b1978ec20ba",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cdee162c8b339c4",
        "type": "ui_group",
        "name": "Limb Lead",
        "tab": "d235c8efbde6da89",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68811e379be236e6",
        "type": "ui_group",
        "name": "Precordial Lead",
        "tab": "8e8eb0c865ee8cda",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd5f5bfbca6c56f3",
        "type": "mqtt in",
        "z": "ea94d0040deba697",
        "name": "",
        "topic": "ecg/raw/all_leads",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ebe33ef3e5186732",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "377a72cff7204d0e",
                "c57cfa1747c36cc4"
            ]
        ]
    },
    {
        "id": "377a72cff7204d0e",
        "type": "debug",
        "z": "ea94d0040deba697",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "c57cfa1747c36cc4",
        "type": "function",
        "z": "ea94d0040deba697",
        "name": "Convert adc to mV",
        "func": "// Constants from ADS1293 datasheet\nvar VREF = 2.42;           // Reference voltage in volts\nvar GAIN = 200;            // Programmable gain\nvar RESOLUTION = 24;       // 24-bit resolution\nvar LSB_SIZE = VREF / (Math.pow(2, RESOLUTION) - 1); // Least Significant Bit size in volts\n\n// Function to convert ADC value to millivolts\nfunction convert_to_millivolts(adc_value) {\n    return adc_value * LSB_SIZE * 1000 / GAIN; // Convert to millivolts\n}\n\n// Ambil payload JSON dari MQTT\nvar payload = msg.payload;\n\n// Array untuk menyimpan 12 pesan output\nvar msgs = [];\n\n// Siapkan pesan terpisah untuk setiap lead\n// Setiap pesan akan memiliki format yang sesuai untuk satu Chart node\n\n// Lead I\nif (typeof payload.I_raw !== 'undefined') {\n    msgs[0] = {\n        payload: convert_to_millivolts(payload.I_raw),\n        topic: \"Lead I (mV)\",\n        timestamp: payload.timestamp * 1000 // Konversi detik ke milidetik\n    };\n} else {\n    msgs[0] = null; // Kirim null jika data tidak ada untuk menghindari error\n}\n\n// Lead II\nif (typeof payload.II_raw !== 'undefined') {\n    msgs[1] = {\n        payload: convert_to_millivolts(payload.II_raw),\n        topic: \"Lead II (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[1] = null;\n}\n\n// Lead III\nif (typeof payload.III_raw !== 'undefined') {\n    msgs[2] = {\n        payload: convert_to_millivolts(payload.III_raw),\n        topic: \"Lead III (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[2] = null;\n}\n\n// Lead AVR\nif (typeof payload.AVR_raw !== 'undefined') {\n    msgs[3] = {\n        payload: convert_to_millivolts(payload.AVR_raw),\n        topic: \"Lead AVR (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[3] = null;\n}\n\n// Lead AVL\nif (typeof payload.AVL_raw !== 'undefined') {\n    msgs[4] = {\n        payload: convert_to_millivolts(payload.AVL_raw),\n        topic: \"Lead AVL (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[4] = null;\n}\n\n// Lead AVF\nif (typeof payload.AVF_raw !== 'undefined') {\n    msgs[5] = {\n        payload: convert_to_millivolts(payload.AVF_raw),\n        topic: \"Lead AVF (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[5] = null;\n}\n\n// Lead V1\nif (typeof payload.V1_raw !== 'undefined') {\n    msgs[6] = {\n        payload: convert_to_millivolts(payload.V1_raw),\n        topic: \"Lead V1 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[6] = null;\n}\n\n// Lead V2\nif (typeof payload.V2_raw !== 'undefined') {\n    msgs[7] = {\n        payload: convert_to_millivolts(payload.V2_raw),\n        topic: \"Lead V2 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[7] = null;\n}\n\n// Lead V3\nif (typeof payload.V3_raw !== 'undefined') {\n    msgs[8] = {\n        payload: convert_to_millivolts(payload.V3_raw),\n        topic: \"Lead V3 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[8] = null;\n}\n\n// Lead V4\nif (typeof payload.V4_raw !== 'undefined') {\n    msgs[9] = {\n        payload: convert_to_millivolts(payload.V4_raw),\n        topic: \"Lead V4 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[9] = null;\n}\n\n// Lead V5\nif (typeof payload.V5_raw !== 'undefined') {\n    msgs[10] = {\n        payload: convert_to_millivolts(payload.V5_raw),\n        topic: \"Lead V5 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[10] = null;\n}\n\n// Lead V6\nif (typeof payload.V6_raw !== 'undefined') {\n    msgs[11] = {\n        payload: convert_to_millivolts(payload.V6_raw),\n        topic: \"Lead V6 (mV)\",\n        timestamp: payload.timestamp * 1000\n    };\n} else {\n    msgs[11] = null;\n}\n\n// Kembalikan array dari pesan, satu per output\nreturn msgs;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "4f4a849b33b682e1",
                "caf1eecc58a6ab0c",
                "f7c363b463f33898",
                "7c20ac46d6ef2f4b",
                "3a4ed88c78a212a0",
                "0c4374c6e5ee9eb7",
                "6694f97c63280d5a",
                "eeb36f865118c310",
                "6a29a63d929909d7",
                "d17031da479fbbbb",
                "413a25eacc0abddb",
                "e839f7bf76c3038a"
            ]
        ]
    },
    {
        "id": "4f4a849b33b682e1",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead I (mV)",
        "group": "8976e637c1f2b876",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead I (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "caf1eecc58a6ab0c",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead II (mV)",
        "group": "39e82ca114928e6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead II (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f7c363b463f33898",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead III (mV)",
        "group": "eedaf900d70e201a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead III (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7c20ac46d6ef2f4b",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVR (mV)",
        "group": "1279401eee4b7967",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVR (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3a4ed88c78a212a0",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVL (mV)",
        "group": "7cdee162c8b339c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVL (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4374c6e5ee9eb7",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVF (mV)",
        "group": "79d9b4d9740b9cbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVF (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6694f97c63280d5a",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V1 (mV)",
        "group": "68811e379be236e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead V1 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb36f865118c310",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V2 (mV)",
        "group": "68811e379be236e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lead V2 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6a29a63d929909d7",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V3 (mV)",
        "group": "68811e379be236e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lead V3 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d17031da479fbbbb",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V4 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead V4 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "413a25eacc0abddb",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V5 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lead V5 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e839f7bf76c3038a",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V6 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lead V6 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    }
]