flows.json
[
    {
        "id": "ea94d0040deba697",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe33ef3e5186732",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d8abb850aa9b804a",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#c02020",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fdfcfc",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#fffafa",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "82843b1978ec20ba",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead (Einthoven Lead)",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d235c8efbde6da89",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead (Limb Lead)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e8eb0c865ee8cda",
        "type": "ui_tab",
        "name": "Monitoring ECG 12 Lead(Precordial Lead)",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39e82ca114928e6d",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "82843b1978ec20ba",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eedaf900d70e201a",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "82843b1978ec20ba",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1279401eee4b7967",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "d235c8efbde6da89",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79d9b4d9740b9cbf",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "d235c8efbde6da89",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7af99aa21d915cd",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8e8eb0c865ee8cda",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8976e637c1f2b876",
        "type": "ui_group",
        "name": "Einthoven Lead",
        "tab": "82843b1978ec20ba",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cdee162c8b339c4",
        "type": "ui_group",
        "name": "Limb Lead",
        "tab": "d235c8efbde6da89",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68811e379be236e6",
        "type": "ui_group",
        "name": "Precordial Lead",
        "tab": "8e8eb0c865ee8cda",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf3d2150f6cc329e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b2e970aad079d2f",
        "type": "ui_group",
        "name": "Subject Information",
        "tab": "bf3d2150f6cc329e",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd5f5bfbca6c56f3",
        "type": "mqtt in",
        "z": "ea94d0040deba697",
        "name": "",
        "topic": "ecg/raw/+/all_leads",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ebe33ef3e5186732",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "377a72cff7204d0e",
                "c57cfa1747c36cc4"
            ]
        ]
    },
    {
        "id": "377a72cff7204d0e",
        "type": "debug",
        "z": "ea94d0040deba697",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "c57cfa1747c36cc4",
        "type": "function",
        "z": "ea94d0040deba697",
        "name": "Convert adc to mV",
        "func": "// ========================================\n// OPTIMIZED NODE-RED FUNCTION FOR ECG 12-LEAD PLOTTING\n// ========================================\n\n// Ambil payload JSON dari MQTT\nvar payload = msg.payload;\n\n// Validasi payload\nif (!payload || typeof payload !== 'object') {\n    return null; // Skip jika payload tidak valid\n}\n\n// Array untuk menyimpan 12 pesan output (satu untuk setiap lead)\nvar msgs = [];\n\n// ========================================\n// OPTION 1: MENGGUNAKAN DATA mV YANG SUDAH DIKONVERSI (RECOMMENDED)\n// Data mV sudah dihitung di Python, lebih efisien\n// ========================================\n\n// Lead I\nif (typeof payload.I_mv !== 'undefined') {\n    msgs[0] = {\n        payload: payload.I_mv,\n        topic: \"Lead I (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[0] = null;\n}\n\n// Lead II\nif (typeof payload.II_mv !== 'undefined') {\n    msgs[1] = {\n        payload: payload.II_mv,\n        topic: \"Lead II (mV)\", \n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[1] = null;\n}\n\n// Lead III\nif (typeof payload.III_mv !== 'undefined') {\n    msgs[2] = {\n        payload: payload.III_mv,\n        topic: \"Lead III (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[2] = null;\n}\n\n// Lead AVR\nif (typeof payload.AVR_mv !== 'undefined') {\n    msgs[3] = {\n        payload: payload.AVR_mv,\n        topic: \"Lead AVR (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[3] = null;\n}\n\n// Lead AVL\nif (typeof payload.AVL_mv !== 'undefined') {\n    msgs[4] = {\n        payload: payload.AVL_mv,\n        topic: \"Lead AVL (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[4] = null;\n}\n\n// Lead AVF\nif (typeof payload.AVF_mv !== 'undefined') {\n    msgs[5] = {\n        payload: payload.AVF_mv,\n        topic: \"Lead AVF (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[5] = null;\n}\n\n// Lead V1\nif (typeof payload.V1_mv !== 'undefined') {\n    msgs[6] = {\n        payload: payload.V1_mv,\n        topic: \"Lead V1 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[6] = null;\n}\n\n// Lead V2\nif (typeof payload.V2_mv !== 'undefined') {\n    msgs[7] = {\n        payload: payload.V2_mv,\n        topic: \"Lead V2 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[7] = null;\n}\n\n// Lead V3\nif (typeof payload.V3_mv !== 'undefined') {\n    msgs[8] = {\n        payload: payload.V3_mv,\n        topic: \"Lead V3 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[8] = null;\n}\n\n// Lead V4\nif (typeof payload.V4_mv !== 'undefined') {\n    msgs[9] = {\n        payload: payload.V4_mv,\n        topic: \"Lead V4 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[9] = null;\n}\n\n// Lead V5\nif (typeof payload.V5_mv !== 'undefined') {\n    msgs[10] = {\n        payload: payload.V5_mv,\n        topic: \"Lead V5 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[10] = null;\n}\n\n// Lead V6\nif (typeof payload.V6_mv !== 'undefined') {\n    msgs[11] = {\n        payload: payload.V6_mv,\n        topic: \"Lead V6 (mV)\",\n        timestamp: payload.timestamp ? payload.timestamp * 1000 : Date.now()\n    };\n} else {\n    msgs[11] = null;\n}\n\n// Debug info (optional - bisa dikomentari)\n// node.warn(\"Subject: \" + payload.subject_name + \", Sample: \" + payload.sample_index);\n\n// Kembalikan array dari 12 pesan, satu per output\nreturn msgs;\n\n// ========================================\n// ALTERNATIVE: JIKA INGIN MENGGUNAKAN RAW DATA + KONVERSI\n// (Tidak direkomendasikan karena duplikasi perhitungan)\n// ========================================\n/*\n// Constants from ADS1293 datasheet\nvar VREF = 2.42;           \nvar GAIN = 200;            \nvar RESOLUTION = 24;       \nvar LSB_SIZE = VREF / (Math.pow(2, RESOLUTION) - 1);\n\nfunction convert_to_millivolts(adc_value) {\n    return adc_value * LSB_SIZE * 1000 / GAIN;\n}\n\n// Gunakan payload.I_raw, payload.II_raw, dll dengan convert_to_millivolts()\n// Tapi tidak efisien karena Python sudah menghitung mV\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "4f4a849b33b682e1",
                "caf1eecc58a6ab0c",
                "f7c363b463f33898",
                "7c20ac46d6ef2f4b",
                "3a4ed88c78a212a0",
                "0c4374c6e5ee9eb7",
                "6694f97c63280d5a",
                "eeb36f865118c310",
                "6a29a63d929909d7",
                "d17031da479fbbbb",
                "413a25eacc0abddb",
                "e839f7bf76c3038a"
            ]
        ]
    },
    {
        "id": "4f4a849b33b682e1",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead I (mV)",
        "group": "8976e637c1f2b876",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead I (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "caf1eecc58a6ab0c",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead II (mV)",
        "group": "39e82ca114928e6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead II (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f7c363b463f33898",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead III (mV)",
        "group": "eedaf900d70e201a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead III (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7c20ac46d6ef2f4b",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVR (mV)",
        "group": "1279401eee4b7967",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVR (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3a4ed88c78a212a0",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVL (mV)",
        "group": "7cdee162c8b339c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVL (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4374c6e5ee9eb7",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead AVF (mV)",
        "group": "79d9b4d9740b9cbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead AVF (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6694f97c63280d5a",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V1 (mV)",
        "group": "68811e379be236e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead V1 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb36f865118c310",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V2 (mV)",
        "group": "68811e379be236e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lead V2 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6a29a63d929909d7",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V3 (mV)",
        "group": "68811e379be236e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lead V3 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d17031da479fbbbb",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V4 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lead V4 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "413a25eacc0abddb",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V5 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lead V5 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e839f7bf76c3038a",
        "type": "ui_chart",
        "z": "ea94d0040deba697",
        "name": "Lead V6 (mV)",
        "group": "e7af99aa21d915cd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lead V6 (mV)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for Lead I data...",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0c6f6d57a5e1d5ca",
        "type": "mqtt in",
        "z": "ea94d0040deba697",
        "name": "Subject Info",
        "topic": "ecg/subject_info",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ebe33ef3e5186732",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "7ddd8fc1b9ba761a",
                "534e80ecfb55cc6d"
            ]
        ]
    },
    {
        "id": "7ddd8fc1b9ba761a",
        "type": "debug",
        "z": "ea94d0040deba697",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "534e80ecfb55cc6d",
        "type": "function",
        "z": "ea94d0040deba697",
        "name": "Subject Information",
        "func": "// ========================================\n// SUBJECT INFO PARSER FOR NODE-RED DASHBOARD\n// ========================================\n\nvar payload = msg.payload;\n\n// Validasi payload\nif (!payload || typeof payload !== 'object') {\n    return null;\n}\n\n// Siapkan array output untuk berbagai dashboard elements\nvar msgs = [];\n\n// ========================================\n// OUTPUT 1: Subject Name\n// ========================================\nmsgs[0] = {\n    payload: payload.subject_name || \"Unknown Subject\",\n    topic: \"subject_name\"\n};\n\n// ========================================\n// OUTPUT 2: Monitoring Status  \n// ========================================\nvar status = payload.status || \"unknown\";\nvar statusDisplay = \"\";\nvar statusColor = \"\";\n\nswitch(status) {\n    case \"monitoring_started\":\n        statusDisplay = \"🟢 MONITORING ACTIVE\";\n        statusColor = \"green\";\n        break;\n    case \"monitoring_stopped\":\n        statusDisplay = \"🔴 MONITORING STOPPED\";\n        statusColor = \"red\";\n        break;\n    default:\n        statusDisplay = \"⚪ UNKNOWN STATUS\";\n        statusColor = \"gray\";\n}\n\nmsgs[1] = {\n    payload: statusDisplay,\n    topic: \"monitoring_status\",\n    color: statusColor\n};\n\n// ========================================\n// OUTPUT 3: Session Information\n// ========================================\nvar sessionInfo = \"\";\n\nif (payload.status === \"monitoring_started\") {\n    var startDate = new Date(payload.start_time * 1000);\n    sessionInfo = `Started: ${startDate.toLocaleString()}\\n`;\n    sessionInfo += `COM Port: ${payload.com_port || \"N/A\"}\\n`;\n    sessionInfo += `Directory: ${payload.save_directory || \"N/A\"}`;\n} else if (payload.status === \"monitoring_stopped\") {\n    var stopDate = new Date(payload.stop_time * 1000);\n    sessionInfo = `Stopped: ${stopDate.toLocaleString()}\\n`;\n    sessionInfo += `Total Iterations: ${payload.total_iterations || 0}\\n`;\n    sessionInfo += `Session Duration: ${calculateDuration(payload)}`;\n}\n\nmsgs[2] = {\n    payload: sessionInfo,\n    topic: \"session_info\"\n};\n\n// ========================================\n// OUTPUT 4: Current Time (for dashboard refresh)\n// ========================================\nmsgs[3] = {\n    payload: new Date().toLocaleString(),\n    topic: \"last_update\"\n};\n\n// ========================================\n// HELPER FUNCTION: Calculate Session Duration\n// ========================================\nfunction calculateDuration(data) {\n    if (data.start_time && data.stop_time) {\n        var duration = data.stop_time - data.start_time;\n        var minutes = Math.floor(duration / 60);\n        var seconds = Math.floor(duration % 60);\n        return `${minutes}m ${seconds}s`;\n    }\n    return \"N/A\";\n}\n\n// ========================================\n// OUTPUT 5: Complete Subject Data (for logging/storage)\n// ========================================\nmsgs[4] = {\n    payload: payload,\n    topic: \"complete_subject_data\"\n};\n\n// Debug log\nnode.warn(`Subject Info Update: ${payload.subject_name} - Status: ${payload.status}`);\n\nreturn msgs;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "a7f03cc2ad4b3b63",
                "39d5c2387fb56830",
                "2b1b919ec50c168a",
                "2a7ad81767d70d86"
            ]
        ]
    },
    {
        "id": "a7f03cc2ad4b3b63",
        "type": "ui_text",
        "z": "ea94d0040deba697",
        "group": "4b2e970aad079d2f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Name",
        "label": "Current Subject",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "39d5c2387fb56830",
        "type": "ui_text",
        "z": "ea94d0040deba697",
        "group": "4b2e970aad079d2f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Monitoring Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b1b919ec50c168a",
        "type": "ui_text",
        "z": "ea94d0040deba697",
        "group": "4b2e970aad079d2f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Session Info",
        "label": "Session Information",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "2a7ad81767d70d86",
        "type": "ui_text",
        "z": "ea94d0040deba697",
        "group": "4b2e970aad079d2f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Last Updates",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 560,
        "wires": []
    }
]